.sidebar__buttom__group
  %p.sidebar__buttom__group__name meiji
  %p.sidebar__buttom__group__text hello!

.sidebar__buttom__group
  %p.sidebar__buttom__group__name osaka
  %p.sidebar__buttom__group__text こんにちは!
