.content__middle__message
  %p.content__middle__message__name sakashita_rena
  %p.content__middle__message__time 2018/05/22 12:38:40
  %p.content__middle__message__text happy birthday!

.content__middle__message
  %p.content__middle__message__name shoki_ohta
  %p.content__middle__message__time 2018/05/22 12:38:40
  %p.content__middle__message__text Thank you!
