.content__middle__talk
  %p.content__middle__talk__name sakashita_rena
  %p.content__middle__talk__time 2018/05/22 12:38:40
  %p.content__middle__talk__message happy birthday!

.content__middle__talk
  %p.content__middle__talk__name shoki_ohta
  %p.content__middle__talk__time 2018/05/22 12:38:40
  %p.content__middle__talk__message Thank you!
