// saidbar
$sidebar-color: #2f3e51; //薄いネイビー
$sidebar-top-color: #253141; //濃いネイビー

//content
$content-solid: #BDBDBD; //topとmiddleの仕切り線
//content-top
$groupname-color: #333333;
$groupmember-color: #848484;
//content-middle
$middle-backcolor: #FAFAFA;
$talk-color: #434A54;
$talk-time-color: #999999;
//content-bottom
$bottom-gray: #D8D8D8;
$textarea-color: #EEEEEE;


//共通部分
$white : #FFFFFF; //ホワイト
$botton-blue: #38AEF0; //スカイブルー
