.wrapper {
  width: 100vw;
  height: 100vh;

  .content {
    width: calc(100vw - 300px);
    height: 100vh;
    float: right;

    &__top {
      width: calc(100vw - 380px);
      background-color: $white;
      padding: 0 40px;
      height: 76px;
      margin-top: 24px;
      border-bottom: solid 1px #BDBDBD;

      &__left {
        float: left;

        &__groupname {
          padding-top: 11px;
          font-size: 20px;
          color: #333333;
        }

        &__groupmembers {
          padding-top: 8px;
          font-size: 12px;
          color: #848484;
        }
      }

      &__right {
        float: right;

        &__editbutton {
          color: #38AEF0;
          border: solid 2px $light_blue;
          padding: 10px 20px;
          margin-top: 10px;
        }
      }
    }

    &__middle {
      width: calc(100vw - 380px);
      padding: 0 40px;
      height: calc(100vh - 236px);
      background-color: #FAFAFA;
      padding-top: 46px;
      overflow: scroll;

      &__message {

        .message {
          padding-top: 30px;
          padding-bottom: 10px;
        }

        &__name {
          font-size: 16px;
          font-weight: bold;
          color: #434A54;
          float: left;
          margin-bottom: 10px;
        }

        &__time {
          font-size: 12px;
          color: #999999;
          float: left;
          margin-left: 10px;
          padding-top: 4px;
        }

        &__text {
          font-size: 14px;
          color: #434A54;
          clear: both;
          padding-bottom: 10px;
        }

        .image {
          clear: both;
        }

        .lower-message__image {
          height: 200px;
          width: 400px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }

    &__buttom {
      width: calc(100vw - 380px);
      padding: 20px 40px;
      height: 50px;
      background-color: #D8D8D8;

      .form__message {
          border: none;
          box-sizing: border-box;
          float:left;
          height: 50px;
          padding:0 10px;
          width: calc(100% - 130px);
          font-size: 15px;

        }
      .form__mask{
        background-color: #fff;
        float:left;
        height: 50px;
        padding-right: 10px;

        .fa.fa-picture-o.icon{
          padding-top: 17px;
        }
      }
      .hidden{
        display: none;
      }

      .form__submit{
      background-color:#38AEF0;
      border:none;
      color:#fff;
      float:right;
      height: 50px;
      padding:0 10px;
      font-size: 16px;
      text-align: center;
      }

      .fa-cog {
        color: #FFFFFF;
      }

      .fa-edit {
        color: #FFFFFF;
      }
    }
  }
}
